[Unit]
Description=MPD/BT management from ampcontrol
After=mpd.service bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/pi/ampcontrol/ampcontrol.py
WorkingDirectory=/home/pi/ampcontrol/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
